.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs {
  flex-shrink: 0;
  border-bottom: 1px solid $border-color;
  margin-bottom: $spacing-lg;
}

.content {
  flex: 1;
  overflow-y: auto;
}
